.Phonetic {
  margin-bottom: 30px;
}

.Phonetic a {
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
}
.Phonetic a:hover {
  background-color: antiquewhite;
}

.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
